<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template Jinja2</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
	<a href="{{ url_for('homeFunction')}}">Home</a>
	<a href="{{ url_for('profFunc')}}">Profile</a>
	<a href="{{ url_for('login')}}">Login</a>
	<h1 class="title">Welcome to my profile</h1>
	{% if not user%}
		<h2 class="sub-title">This is profile page</h2>
	{% else %}
		<h2 class="sub-title">This is page of {{user}}</h2>
	{% endif %}
</body>
</html>