{%extends "layout.html" %}
{% block body %}
<div class="jumbotron">
	{% if user.username != session.username %}
		{% if session.logged_in %}
			{% if active_user.is_following(user)%}
				<form method="post" action="{{url_for('userUnfollow', username = user.username)}}">
					<p class="bold">{{user.username}} <button class="btn btn-danger">-Unfollow</button></p>
				</form>
			{% else %}
				<form method="post" action="{{url_for('userFollow', username = user.username)}}">
					<p class="bold">{{user.username}} <button class="btn btn-primary">+Follow</button></p>
				</form>
			{% endif %}
		{% endif %}
	{% endif %}
  <hr>
  	<a href="{{url_for('showFollowers', username = user.username)}}" class="btn btn-primary">
  		Follower <span class="badge badge-light">{{user.followers() | length}} </span>
  	</a>
  	<a href="{{url_for('showFollowing', username = user.username)}}" class="btn btn-success">
  		Following <span class="badge badge-light">{{user.following() | length}} </span>
  	</a>
  <h1 class="display-4">Welcome to homepage {{user.username}}, I'm using base layout</h1>
  <p class="lead">Welcome to the social media application that uses flasks</p>
  <hr class="my-4">
  <h2 style="text-align: center;">Your feed</h2>
  {% for message in messages%}
		<h4>{{message.content}}</h4>
		<span style="font-size: 10px; font-style: italic;">{{message.published_at}}</span>
  {% endfor %}
</div>
{% endblock %}